p{
    font-size:25px;
  color:black;
  font-family:Arial;
  text-align:center;
}
div{
    background-color:rgb(5, 243, 252);
}
.in{
    font-size:15px;
      width: 150px;
      padding:10px;
      border: 2px solid black;
      color:black;
      background-color:white;
      font-family:Arial;

}
#a{
    font-size:15px;
    color:white;
    height:40px;
    width:150px;
    text-align:center;
    background-color:DodgerBlue;
    font-family:Arial;
}